body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
}

p {
    text-indent: 2em;
}

p+p {
    margin-top: 0;
}

p:has(+p) {
    margin-bottom: 0;
}

q {
    font-style: italic;
    color: #cccccc;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}