body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
}

q {
    font-style: italic;
    color: #cccccc;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}